.search-bar-wrapper {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 30%;
  display: flex;
  height: 48px;
  margin: 0.8em 8em;
}

.search-bar-term {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-bar-term:focus {
  color: #00b4cc;
}

.search-bar-button {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
